body.about {
    background-image: url("../images/Simple Background.jpg");
}

.about div {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-indent: 5vh;
}