body {
    background: midnightblue;
    background: -moz-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: -webkit-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: linear-gradient(135deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 25%;
    font-size: 18px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
}