body.home, html.home {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.home input {
    position: absolute;
    opacity: 0;
    margin-top: 90vh;
    cursor: pointer;
}
.home label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px white;
    border-radius: 999px;
    background-color: transparent;
    margin: 90vh 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
}

.home input:checked + label {
    background-color: white;
}
.none-display{
    display: none;
}
.home input:focus + label {
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
}


.slide {
    position: absolute;
    background-position: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
}

.home input:checked ~ .slide {
    transform: translateX(100%);
}
.home input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
}

.bg1 {
    background-image: url("../images/ssYNM.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

)
}

.home p {
    margin-top: 80vh;
    vertical-align: bottom;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
}

.home h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.home input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
}

.bg2 {
    background-image: url("../images/telescope3.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
)
}

.bg3 {
    background-image: url("../images/69c092c8d9bcca76fe04415f7a31431a.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

)
}

.bg4 {
    background-image: url("../images/mlechnyj_put_zvezdnoe_nebo_galaktika_119519_2560x1600.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
)
}

.home .container {
    background: #fff;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;    max-width: 400px;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(100%);
}


.link-home {
    color: white;
}

.link-home:hover {
    background-color: white;
    color: #002752;
    text-decoration: none;
}

.admin-gif {
    display: grid;
    height: 90vh;
}
.admin-gif img{
    margin:auto;
}

.subtitle {
    color: darkgray;
}

.pictured {
    background-image: url("../images/Stock Image_ Nature.jpg");
    background-repeat: repeat;
}