ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active {
    background-color: black;
    color: white;
    border: 2px solid #1abc9c;
}


a:link, a:visited {
    background-color: #1abc9c;
    color: white;
    border: 2px solid #1abc9c;;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a:hover, a:active {
    background-color: #16a085;
    color: white;
}