
ul.main-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    opacity: 1;
    width: 100%;
}

.main-navigation li {
    float: left;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-navigation li a, .main-navigation .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-navigation li a:hover, .main-navigation .dropdown:hover .dropbtn {
    background-color: midnightblue;
    cursor: pointer;
}

.main-navigation li.dropdown {
    display: inline-block;
}

.main-navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #002752;
    min-width: 160px;
    z-index: 1;
}

.main-navigation .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.main-navigation .dropdown-content a:hover {
    background-color: midnightblue;
}

.main-navigation .dropdown:hover .dropdown-content {
    display: block;
}