input.rate {
    display: block;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input.rate[type="text"],
input.rate[type="password"] {
    background: #fff;
    border: none;
    font-size: 1.2em;
}

button.rate{
    margin-top: 4vh;
    margin-left: 90vh;
}