.container {

    background: #f4f7f8;
    margin: 10px auto;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 50px;
}

.container fieldset {
    border: none;
}

.container legend {

    font-size: 1.4em;
    margin-bottom: 10px;
}

.container table{
    width: 70%;
}

.container td{
    width: 33%;
}


.container label {
    display: block;
    margin-bottom: 8px;
    align-content: end;
    width: 30%;
}


.container input {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-bottom: 20px;
    width: 60%;

}

.container .error{
    width: 30%;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus {
    background: #d2d9dd;
}


.container button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: lightseagreen;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.container button:hover {
    background: #109177;
}
