body.select {
    background: midnightblue;
    background: -moz-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: -webkit-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: linear-gradient(135deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.select {
    margin: 20px;
}

.styled-select {
    height: 5vh;
    overflow: hidden;
    width: 45vh;
    background-color: transparent;
}

.styled-select select {
    background: transparent;
    font-size: 18px;
    height: 5vh;
    padding: 5px;
    width: 45vh;
    border: gray dot-dash;
}

.styled-select option {
    background-color: floralwhite;
    height: 7vh;
}

.styled-select.slate {
    height: 7vh;
    width: 45vh;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 7vh;
    width: 47vh;
}

.blue {
    background-color: honeydew
}

.blue select {
    color: gray;
}


button.select {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
}