
.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    color: white;
    background:  #002752;
    font-weight: bold;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    min-height: 50vh;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #fff;
    color:  #002752;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

body.studentPage {
    background: midnightblue;
    background: -moz-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: -webkit-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: linear-gradient(135deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 112%;
}

.label {
    color: #999;
    font-size: 0.75em;
    margin: 3vh;
}

.line {
    margin-top: 2vh;
}
.first{
    margin-top: 7vh;
}

.studentPage .dropbtn {
    order: 1;
    cursor: pointer;
    background:  #002752;
    color: white;
    transition: background ease 0.2s;
    border: none;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.studentPage .dropdown {
    position: relative;
    display: inline-block;
}

.studentPage .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #002752;
    color: white;
    min-width: 160px;
    z-index: 1;
}

.studentPage .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    background:  #002752;
    display: block;
}

.studentPage .dropdown-content a:hover {background-color: #ddd;}

.studentPage .dropdown:hover .dropdown-content {display: block;}
