body.table{
    background: midnightblue;
    background: -moz-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: -webkit-linear-gradient(-45deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    background: linear-gradient(135deg, #002752 0%, rgba(146, 168, 209, 1) 100%);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#list {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
    align-content: center;
}

#list tr {
    color: black;
}

#list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#list tr:hover {
    background-color: #ddd;
}

#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #002752;
    color: white;
}

.add_button {
    align-self: center;
    margin-left: 85vh;
    margin-top: 5vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

.table-button {
    padding: 1vh 4vh 1vh 4vh ;
    font-size: 14px;
    color: white;
    background-color: #002752 ;
    border: 2px solid white;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}