<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:database.xml"/>
    <import resource="classpath:security.xml"/>

    <context:component-scan base-package="by.yurusova.entranceExam.controllers"/>
    <context:annotation-config/>

    <bean id="userService" class="by.yurusova.entranceExam.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="bCryptPasswordEncoder" ref="encoder"/>

    </bean>

    <bean id="roleService" class="by.yurusova.entranceExam.service.RoleServiceImpl">
        <property name="roleDAOImpl" ref="roleDAOImpl"/>
    </bean>

    <bean id="userValidator" class="by.yurusova.entranceExam.validator.UserValidator" />

    <bean id="studentValidator" class="by.yurusova.entranceExam.validator.StudentValidator" />

    <bean id="studentService" class="by.yurusova.entranceExam.service.StudentServiceImpl">
          <property name="studentDAO" ref="studentDAO"/>
    </bean>

</beans>